
RewriteEngine on
RewriteCond %{HTTP_HOST} ^blog\.guilherme\.straccini\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.guilherme\.straccini\.com\.br$
RewriteRule ^(.*)$ "https\:\/\/blog\.guilhermebranco\.com\.br\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^blog\.stracini\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.stracini\.com\.br$
RewriteRule ^(.*)$ "https\:\/\/blog\.guilhermebranco\.com\.br\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^blog\.guilherme\.stracini\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.guilherme\.stracini\.com\.br$
RewriteRule ^(.*)$ "https\:\/\/blog\.guilhermebranco\.com\.br\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^blog\.straccini\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.straccini\.com\.br$
RewriteRule ^(.*)$ "https\:\/\/blog\.guilhermebranco\.com\.br\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^blog\.stracini\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.stracini\.com$
RewriteRule ^(.*)$ "https\:\/\/blog\.guilhermebranco\.com\.br\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^blog\.guilherme\.stracini\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.blog\.guilherme\.stracini\.com$
RewriteRule ^(.*)$ "https\:\/\/blog\.guilhermebranco\.com\.br\/$1" [R=301,L]

