@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}
a img {
  border: none;
}
body {
  background: #666;
}

#header {
  background-color: #000;
  height: 50px;
  width: 100%;
  min-width: 978px !important;
}
#header #top {
  height: 50px;
  width: 978px;
  margin: auto;
  border-top: #000 1px solid;
}
#header #top #socialLinks {
  height: 24px;
  width: 384px;
  margin-top: 12px;
  margin-left: 584px;
}
#header #top #socialLinks ul {
  list-style-type: none;
  display: block;
  width: 384px;
  height: 24px;
}
#header #top #socialLinks ul li {
  display: block;
  float: left;
  margin-left: 24px;
}
#header #top #socialLinks ul li a img {
  border: none;
  width: 24px;
  height: 24px;
}

#content {
  background: #666;
  width: 80%;
  margin: 10px auto;
}

#content #projects {
  border: 3px solid #f60;
  width: 15%;
  background: #ff9;
  text-align: center;
  float: left;
  margin: 20px 30px;
}
#content #projects div.links {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  border-top: 3px solid #f60;
}
#content #projects div.links a,
#content #projects div.links a:visited {
  text-decoration: none;
  color: #090;
}
#content #projects div.links a:hover {
  color: #90c;
}
#content #boxes {
  width: 70%;
  float: left;
}

#content #boxes #free-sms,
#content #boxes #personal {
  width: 287px;
  height: 104px;
  background: #000;
  border: 3px solid #f60;
  padding-top: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin: 20px 30px;
  line-height: 30px;
}
#content #boxes #free-sms a,
#content #boxes #free-sms a:visited,
#content #boxes #personal a,
#content #boxes #personal a:visited {
  color: #ff9;
  text-decoration: none;
}
#content #boxes #free-sms a:hover,
#content #boxes #personal a:hover {
  color: #f60;
}

#content #facebook {
  width: 15%;
  float: left;
  padding-top: 25px;
  margin: 20px 30px;
}
